@model HomeMenuDto
@inject IOptionsSnapshot<AppOptions> app 
<!-- Left menu bar -->
<section class="sidebar">
    <!-- Administrator Information -->
    <div class="user-panel hidden-xs">
        <div class="pull-left image">
            <a asp-action="Profile" asp-controller="General" class="addtabsit"><img src="@User.Identity.GetAvatar()" class="img-circle" /></a>
        </div>
        <div class="pull-left info">
            <p>@User.Identity?.Name</p>
            <i class="fa fa-circle text-success"></i> Online
        </div>
    </div>

    <!-- Menu Search -->
    <form action="" method="get" class="sidebar-form" onsubmit="return false;">
        <div class="input-group">
            <input type="text" name="q" class="form-control" autocomplete="off" placeholder="Menu Search">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
            <div class="menuresult list-group sidebar-form hide">
            </div>
        </div>
    </form>

    <!-- Mobile Level 1 Menu -->
    <div class="mobilenav visible-xs">

    </div>

    <!-- Left menu bar -->
    <ul class="sidebar-menu @(app.Value.ShowSubMenu?"show-submenu":"") ">

        <!-- The menu can be added, deleted, modified, and sorted in background management ->permission management -->
        @Html.Raw(Model.MenuList)
    </ul>
</section>
