@using System.Text.Json.Serialization;
@using CasseroleX.Application.Common.Json;
@using WebUI.Helpers;
@inject IOptionsSnapshot<AppOptions> app 
@{
    var options = new JsonSerializerOptions
    {
        Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
        PropertyNamingPolicy = new LowercaseNamingPolicy(),
        ReferenceHandler = ReferenceHandler.IgnoreCycles,
        DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull
    };
}
<meta charset="utf-8">
<title>@ViewData["Title"]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="referrer" content="never">
<meta name="robots" content="noindex, nofollow">

<link rel="shortcut icon" href="@{@app.Value.CDN}/assets/favicon.ico" />
<!-- Loading Bootstrap -->
<link href="@{@app.Value.CDN}/assets/css/backend.min.css" rel="stylesheet">
<link href="@{@app.Value.CDN}/assets/css/skins/@(app.Value.AdminSkin).css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="@{@app.Value.CDN}/assets/js/html5shiv.js"></script>
  <script src="@{@app.Value.CDN}/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript"> 
   var require =  {
        config: @Html.Raw(JsonSerializer.Serialize(ViewBag.JsConfig,options))
  };
</script>
