@using CasseroleX.Application.Roles.Queries;
@model RoleDto
<form id="edit-form" class="form-horizontal form-ajax" role="form" method="POST" action="">
    <input type="hidden" name="rules" value="" />
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">Parent:</label>
        <div class="col-xs-12 col-sm-8">
            @await Component.InvokeAsync("GetRolesSelect",new { dic = new Dictionary<string,string>{ { "name","pid"}, {"data-id", Model.Id.ToString() },{"data-pid", Model.Pid.ToString() }}, selected = Model.Pid.ToString()})
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">Name:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="name" name="name" value="@Model.Name" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">Permission:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><span>Check all</span></label></span>
            <span class="text-muted"><input type="checkbox" name="" id="expandall" /> <label for="expandall"><span>Expand all</span></label></span>

            <div id="treeview"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">Status:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    @Html.RadioButton("status", "normal", Model.Status == Status.normal, new { id = "status-normal" })Normal
                </label>
                <label>
                    @Html.RadioButton("status", "hidden", Model.Status == Status.hidden, new { id = "status-hidden" })Hidden
                </label>
            </div>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2 col-xs-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">OK</button>
            <button type="reset" class="btn btn-default btn-embossed">Reset</button>
        </div>
    </div>
</form>